*{
  box-sizing: border-box;
}
body{

    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 20rem;
    
}

h1{
    padding-left:40px ;
    
}

ul li{
  font-size: 1.1rem;
  margin: 1rem 0;
  cursor: pointer;

}

ul{
    list-style: none;
}

.quiz-header{
    background-color: aliceblue;
    border-radius: 5px;
    width: 300px;
    height: 270px;
    padding: 0px 15px 2px 1px;
    box-shadow: 4px 4px rgb(74, 76, 151,0.75);
}
button
{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    width:300px;
    padding:15px 5px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
   box-shadow: 4px 4px rgb(74, 76, 151,0.75);
}
button:hover{

    background: linear-gradient(90deg, #eac8ff 0%, #8088ff 100%);
    color:white;
 }
